@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:768px) {
    #container-topo {
        display: block;
        padding: 0px 15px;
    }

    #container-topo img {
        max-width: none;
        width: 100%;
        margin: auto;
    }

    .divisao-topo-textos {
        display: block;
        margin: auto;
        width: 100%;
        min-width: none;
        padding: 250px 0px 25px 0px;
    }

    .divisao-topo-textos h1, h2 {
        text-align: center;
        margin: auto;
        min-width: none;
    }

    .divisao-topo-textos > div {
        text-align: center;
    }

    .caps {
        max-width: 300px;
    }

    .container-beneficios hr {
        display: block;
    }

    .beneficios {
        padding: 50px 0px;
    }

    .beneficios >.limite {
        padding: 0px 15px;
    }
    
    .beneficios > .limite > .conteudo {
        text-align: center;
        min-width: none;
        width: 100%;
        margin: auto;
    }

    .beneficios-fundo1 .limite > .conteudo {
        margin-top: 25px;
    }

    .beneficios-fundo2 .limite > .conteudo {
        margin-bottom: 25px;
    }


    .beneficios > .limite > img {
        width: 100%;
        margin: auto;
        border: none;
    }


    .arte-de-estudar {
        margin: 100px -25px 100px -25px;
        text-align: center;
        border-radius: 0px;
    }

    .arte-de-estudar img {
        width: 100%;
    }
}

/* CELULARES GRANDES E TABLETS */
@media screen and (min-width: 768px) {
}


/* AJUSTA IMAGEM CABEÇALHO E OS CARDS PASSO A PASSO*/

@media screen and (max-width: 964px) {
    #container-topo {
        flex-wrap: wrap;
    }

    .divisao-topo-imagem, .divisao-topo-textos {
        display: block;
        width: 100%;
    }

    .divisao-topo-textos {
        display: block;
        margin: auto;
        max-width: 600px;
        padding: 250px 0px 25px 0px;
    }

    .divisao-topo-textos h1, h2 {
        text-align: center;
        margin: auto;
    }

    .divisao-topo-textos > div {
        text-align: center;
    }

    .divide-caps {
        display: block;
        width: 100%;
    }

    .borda {
        margin: 15px;
    }

    .caps {
        max-width: 350px;
    }

    .beneficios-fundo1 .limite > .conteudo {
        margin-top: 25px;
    }

    .beneficios-fundo2 .limite > .conteudo {
        margin-bottom: 25px;
    }

    .container-beneficios hr {
        display: block;
    }

    .nossa-missao {
        padding: 0px 25px 0px 25px;
    }

    .arte-de-estudar img {
        max-width: 350px;
        margin: 15px;
    }
}

/* COMPUTADORES */
@media screen and (min-width: 992px) {

}

@media screen and (max-width: 1150px) {
    h1.logo {
        margin: auto;
    }
    nav {
        width: 100%;
    }

    .container-beneficios hr {
        display: block;
    }
}

/* TVs e GRANDES TELAS */
@media screen and (min-width: 1200) {

}