@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:768px) {
    .curriculo-milton {
        border-radius: 0;
        margin: 0px -25px;
    }

    .imagem-metade {
        width: 80%;
    }
}

/* AJUSTE DA IMAGEM METADE */

@media screen and (min-width:768px) {
    
}

/* CELULARES GRANDES E TABLETS */
@media screen and (max-width: 964px) {
    .container-texto-imagem-metade {
        text-align: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .imagem-metade {
        display: block;
    }

    .curriculo-milton hr {
        display: block;
    }
}

/* COMPUTADORES */
@media screen and (min-width: 1200px) {
   
}