@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:600px) {
    #container-topo {
        display: block;
    }

    .divisao-topo-textos {
        width: 100%;
        padding: 250px 15px 25px 15px;
    }

    .divisao-topo-textos > div {
        text-align: center;
    }
    .passos > .limite {
        
    }

    .caps {
        max-width: 300px;
    }

    .beneficios-fundo1 .limite > .conteudo {
        margin-top: 25px;
    }

    .beneficios-fundo2 .limite > .conteudo {
        margin-bottom: 25px;
    }

    .beneficios > .limite > .conteudo {
        text-align: center;
        width: 100%;
    }

    .arte-de-estudar {
        text-align: center;
        border-radius: 0px;
    }

    footer {
        display: block;
    }

    footer div {
        max-width: none;
        margin: 50px 0px;
    }

    .logo-footer {
        margin: 0px auto 25px auto;
    }
}

/* CELULARES GRANDES E TABLETS */
@media screen and (min-width: 768px) {

}

/* COMPUTADORES */
@media screen and (min-width: 992px) {

}

@media screen and (max-width: 1180px) {
    h1.logo {
        margin: auto;
    }
    nav {
        width: 100%;
    }
}

/* TVs e GRANDES TELAS */
@media screen and (min-width: 1200) {

}