@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:600px) {
    .container-topo {
        flex-wrap: wrap;
    }

    .divisao-topo-textos {
        width: 100%;
    }
}

/* CELULARES GRANDES E TABLETS */
@media screen and (min-width: 768px) {

}

/* COMPUTADORES */
@media screen and (min-width: 992px) {

}

@media screen and (max-width: 1180px) {
    h1.logo {
        margin: auto;
    }
    nav {
        width: 100%;
    }
}

/* TVs e GRANDES TELAS */
@media screen and (min-width: 1200) {

}