@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:768px) {
    form {
        width: 100%;
        padding: 15px;
    }
    
}

/* AJUSTE DA IMAGEM METADE */

@media screen and (min-width:768px) {
    
}

/* CELULARES GRANDES E TABLETS */
@media screen and (max-width: 964px) {
    .posicionar {
        display: block;
        margin: 75px 25px;
    }

    form {
        width: 80%;
        margin: auto;
        border: none;
    }

    .div-imagem {
        display: none;
    }
}

/* COMPUTADORES */
@media screen and (min-width: 1200px) {
   
}