@charset "UTF-8";

/* Style para telas */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --paletaCor1: #36160B;
    --paletaCor2: #51230b;
    --paletaCor3: #9d5b10;
    --paletaCor4: #c58b44;
    --paletaCor5: #f8f4f1;
    --paletaCor6: #fff;
    --cor-destaque: #f28f0d;
}

h1 {
    color: var(--cor5);
}

#container-topo-img {
    background: var(--cor-destaque) url(../imagens/img-fundo.jpeg) center/ cover no-repeat fixed;
    min-height: 600px;
    display: block;
}

header {
    background-color: #000000cc;
    color: var(--paletaCor5);

    min-height: 125px;
    width: 100%;
    padding: 20px 50px;
    border-top: 5px solid var(--cor-destaque);
    position: fixed;

    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: inline;
    max-width: 100px;
}

nav {
    margin: auto;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a:hover {
    border-bottom: 1px solid var(--cor-destaque);
    transition: 0.5s;
}

nav a:active {
    scale: 97%;
}

nav a {
    color: var(--cor5);
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro  {
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
}

.cadastro:hover {
    background-color: #c58b4436;
    border: 1px solid #ffffff00;
}

.cadastro:active {
    scale: 95%;
}

.divisao-topo-textos {
    background-color: var(--paletaCor5);
    display: block;
    padding: 250px 50px 50px 50px;
    min-height: 600px;
    max-width: 750px;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.621)
}

.divisao-topo-textos > h1 {
    color: var(--paletaCor1);
    font-size: 2.5em;
    margin: 10px 0px;
    max-width: 500px;
    border-bottom: 2px solid var(--paletaCor1);
}

.divisao-topo-textos > h1 > span {
    font-weight: 1500;
}

.divisao-topo-textos > h2 {
    color: var(--cor-destaque);
}

.divisao-topo-textos > p {
    font-size: 1.5em;
    text-align: justify;
    max-width: 500px;
    margin: 50px 0px;
}