@charset "UTF-8";

/* Style para telas */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
}

/* #200e07 */

:root {
    --cor1: #ffffff;
    --cor2: ;
    --paletaCor1: #0c2b3a;
    --paletaCor2: #164d69;
    --paletaCor3: #2680af;
    --paletaCor4: #c58b44;
    --paletaCor5: #e6ede8;
    --paletaCor6: #fff;
    --cor-destaque: #f28f0d;
}

h1 {
    color: var(--cor5);
}

#container-topo-img {
    background: var(--cor-destaque) url(../imagens/img-fundo.jpeg) center/ cover no-repeat fixed;
    min-height: 600px;
    display: block;
}

header {
    background-color: #000000cc;
    color: var(--paletaCor5);
    font-size: 0.7em;

    min-height: 125px;
    width: 100%;
    padding: 20px 50px;
    border-top: 5px solid var(--cor-destaque);
    position: fixed;

    padding: 20px 100px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    display: inline;
    max-width: 100px;
}

nav {
    margin: auto;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

nav a:hover {
    border-bottom: 1px solid var(--cor-destaque);
    transition: 0.5s;
}

nav a:active {
    scale: 97%;
}

nav a {
    color: var(--cor5);
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cadastro  {
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
}

.cadastro:hover {
    background-color: #c58b4436;
    border: 1px solid #ffffff00;
}

.cadastro:active {
    scale: 95%;
}

.divisao-topo-textos {
    background-image: linear-gradient(to right, black, #0000000b);

    display: block;
    padding: 250px 50px 50px 50px;
    min-height: 600px;
    width: 100%;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 5px 6px 12px 3px rgba(0, 0, 0, 0.621)
}

.divisao-topo-textos > h1 {
    color: var(--paletaCor5);
    font-size: 1.7em;
    margin: 10px 0px;
    max-width: 500px;
    border-bottom: 2px solid var(--paletaCor3);
}

.divisao-topo-textos > h1 > span {
    font-weight: 1500;
}

.divisao-topo-textos > h2 {
    color: var(--cor-destaque);
}

.divisao-topo-textos > p {
    color: var(--paletaCor5);
    font-size: 1.1em;
    text-align: justify;
    max-width: 500px;
    margin: 50px 0px;
}

.teste {
     background-color: var(--cor1);
     padding: 50px;

     box-shadow: inset 1px 1px 8px 1px #00000078
}



.reparticao {
    background-color: var(--paletaCor1);
    color: var(--paletaCor5);

    width: 90%;
    margin: -100px auto 0px auto;
    padding: 50px;
    border-radius: 20px;
}

.reparticao > h2 {
    color: var(--paletaCor5);
    font-size: 2em;
    margin: 0px 0px 20px 0px;
}

.reparticao > p {
    text-align: justify;
    max-width: 500px;
}