header {
    background-color: #000000cc;
    backdrop-filter: blur(3px);
    font-size: 0.7em;

    min-height: 125px;
    width: 100%;
    padding: 20px 50px;
    border-top: 5px solid var(--cor-destaque);
    padding: 20px 100px;

    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: var(--paletaCor5);
    font-size: 1.8em;
    display: inline;
}

nav {
    margin: auto;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a:hover {
    border-bottom: 1px solid var(--cor-destaque);
    transition: 0.5s;
}

nav a:active {
    scale: 97%;
}

nav a {
    color: var(--paletaCor5);
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
}

nav .cadastro {
    color: var(--paletaCor5);
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}


header .cadastro {
    background-color: #00000000;
}

nav > div > a {
    font-weight: bold;
}

main {
    font-size: 0.9em;
}

.container {
    background-color: var(--paletaCor1);
    text-align: left;
    height: 180px;
    width: 100%;
    display: block;
}

.o-que-fazemos {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);

    width: 100%;
    max-height: 500px;

    display: flex;
}

.o-que-fazemos {
    background-color: var(--paletaCor1);
}

.o-que-fazemos h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.o-que-fazemos h1, h2 {
    color: var(--cor-textos-fundo-contraste);
}

.sobre-nos {
    width: 100%;
}

.sobre-nos hr {
    border: 1px solid var(--paletaCor3);
    max-width: 200px;
}

.texto {
    padding: 0px 25px;
    width: 40%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.p-o-que-fazemos {
    margin: 25px 0 50px 0;
}

.image {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    left: -8em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background-color: var(--paletaCor1);
    width: 40%;
    height: 140%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.fundadores {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fundadores h2 {
    color: var(--cor-textos);
    text-align: center;

    width: 100%;
    margin-bottom: 25px;
    display: block;
}

.fundador {
    background-color: var(--paletaCor5);
    height: 100%;
    max-width: 350px;
    min-width: 300px;
    margin: 25px;
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 9px #9ed4f18d;
}

.fundador img {
    background-color: var(--paletaCor1);
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin: -30px 10px;
    display: inline;
}

.fundador p {
    margin-top: 25px;
    text-align: center;
}

.cargos {
    display: flex;
}

.nossa-historia, .nossa-historia h2 {
    color: var(--cor-textos);
}

.nossa-historia {
    background-color: var(--paletaCor5);
}

.nossa-historia > .limite {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nossa-historia h2 {
    width: 100%;
    margin-bottom: 25px;
    font-size: 2em;
}

.textos-metade {
    max-width: 600px;
}


.textos-metade p {
    margin: 15px 0px;
}

.p-destaque {
    width: 100%;
    font-size: 1.1em;
}

.nossa-historia hr {
    margin: 25px 0px;
    border: 1px solid var(--paletaCor3);
    max-width: 200px;
}


.imagem-metade {
    width: 500px;
}

.texto-destaque {
    font-weight: bolder;
}

.nossa-missao-valores h2 {
    text-align: center;
    color: var(--cor-textos);
}

.container-pilares {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.valores {
    padding: 15px;
    width: 250px;
    height: 150px;
    border: 1px solid var(--cor-destaque);
    border-radius: 15px
}

.separacao {
    text-align: center;
    margin: 0px auto 100px auto;
    width: 900px;
}

footer {
    background-color: var(--cor1);
    color: var(--paletaCor1);
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
}

footer div {
    min-width: 100px;
    max-width: 250px;
    margin: 20px 5vw;
}

.redes {
    display: flex;
}

.logo-footer {
    max-width: 150px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.icons {
    margin: 0px 5px;
    max-height: 20px;
    display: inline-block;
    border-radius: 5px;
}

.icons:hover {
    scale: 110%;
}

footer nav a {
    color: var(--paletaCor1);
    display: block;
    margin-bottom: 1.6rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--paletaCor4);
    text-decoration: underline;
}

footer p {
    margin-bottom: 1.6rem;
    max-width: 35.0rem;
}

footer p a {
    color: var(--paletaCor1);
    text-decoration: none;
}

#copyright {
    background-color: var(--paletaCor1);
    color: #FFFFFF;
    text-align: center;
    font-size: 0.8em;

    width: 90vw;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
}

#copyright a {
    color: var(--cor-destaque);
}