@charset "UTF-8";


/* Style para telas de PC e Televisões*/

@font-face {
    font-family: 'noto-sans';
    src: url(noto-sans/NotoSans-Regular.ttf) format(truetype);
}

@font-face {
    font-family: 'noto-bold';
    src: url(noto-sans/NotoSans-Bold.ttf) format(truetype);
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* #200e07 */

:root {
    --cor1: #ffffff;
    --cor2: #000000;
    --paletaCor1: #030e12;
    --paletaCor2: #164d69;
    --paletaCor3: #3298d0;
    --paletaCor4: #c58b44;
    --paletaCor5: #e6e9ed;
    --paletaCor6: #fff;

    --cor-textos: #030e12;
    --cor-textos-fundo-contraste: #ffffff;

    --cor-destaque: #ffb030;
    --gradiente: linear-gradient(to right, var(--cor-destaque), var(--paletaCor3));
}

:root {
    --font-titulos: "noto-bold";
    --font-padrao: "noto-sans", 'Times New Roman', Times, serif;
}

body, html {
    background-color: var(--paletaCor6);
    color: var(--cor-textos);
    font-size: 1.1em;
    font-family: var(--font-padrao);
    width: 100%;
    height: 100%;

    padding: 0px;
    margin: 0px;
}

header {
    background-color: #000000cc;
    backdrop-filter: blur(3px);
    font-size: 0.7em;

    min-height: 125px;
    width: 100%;
    padding: 20px 50px;
    border-top: 5px solid var(--cor-destaque);
    padding: 20px 100px;

    position: fixed;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    color: var(--paletaCor5);
    font-size: 1.8em;
    display: inline;
}

nav {
    margin: auto;
    min-height: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

nav a:hover {
    border-bottom: 1px solid var(--cor-destaque);
    transition: 0.5s;
}

nav a:active {
    scale: 97%;
}

nav a {
    color: var(--paletaCor5);
    text-decoration: none;
    margin: 15px;
    padding: 5px 15px;
}

nav .cadastro {
    color: var(--paletaCor5);
}

nav div {
    display: flex;
    align-items: center;
    justify-content: center;
}


header .cadastro {
    background-color: #00000000;
}

nav > div > a {
    font-weight: bold;
}

.bloco-topo {
    background-color: var(--paletaCor1);
    text-align: left;
    height: 180px;
    width: 100%;
    display: block;
}


.limite {
    max-width: 1200px;
    margin: 0px auto;
}

h1 {
    color: var(--cor-textos);
    font: bold 2em var(--font-titulos);
    font-size: 2em;
}

h2 {
    font-family: var(--font-titulos);
    color: var(--cor-textos);
    font-size: 1.7em;
}

.titulo-destaque {
    color: var(--cor-destaque);
    font-size: 1.4em;
}

.cadastro  {
    background-color: var(--cor-destaque);
    color: var(--paletaCor6);
    font-weight: bold;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid var(--cor-destaque);
}


.link-cadastro {
    display: inline-block;
    text-decoration: none;
}

.cadastro:hover {

    transition-duration: 0.3s;
    scale: 90%;
}

.cadastro:active {
    background-color: var(--cor-destaque);
    scale: 85%;
}


.separacao {
    text-align: center;
    margin: 0px auto 100px auto;
    width: 80%;
}

footer {
    background-color: var(--cor1);
    color: var(--paletaCor1);
    font-size: 0.7em;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
}

footer div {
    min-width: 100px;
    max-width: 250px;
    margin: 20px 5vw;
}

.redes {
    display: flex;
}

.logo-footer {
    max-width: 150px;
}

footer img,
footer .titulo {
    display: block;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.icons {
    margin: 0px 5px;
    max-height: 20px;
    display: inline-block;
    border-radius: 5px;
}

.icons:hover {
    scale: 110%;
}

footer nav a {
    color: var(--paletaCor1);
    display: block;
    margin-bottom: 1.6rem;
    text-decoration: none;
}

footer a:hover {
    color: var(--cor-destaque);
    text-decoration: underline;
}

footer p {
    margin-bottom: 1.6rem;
    max-width: 35.0rem;
}

footer p a {
    color: var(--paletaCor1);
    text-decoration: none;
}

#copyright {
    background-color: var(--paletaCor1);
    color: #FFFFFF;
    text-align: center;
    font-size: 1em;

    min-width: 90vw;
    padding: 20px;
    margin: 20px auto 0px auto;
    border-radius: 10px;
}

#copyright a {
    color: var(--cor-destaque);
}
