@charset "UTF-8";

main {
    max-width: 850px;
    margin: auto;
    padding: 180px 0px 20px 0px;
}

h1 {
    color: #3e4953;
    font-size: 2.5em;
}

aside {
    color: #6b7885;
    font-size: 1em;
    margin: 20px 0px;

}

hr {
    color: #3e4953;
}

aside>span {
    display: inline-block;
    padding: 0px 10px;
    margin: 0px 5px;
    border-right: 2px solid #545454;
    border-left: 2px solid #545454;
}

main p {
    text-align: justify;
    font-size: 1.1em;
    text-indent: 30px;
    margin: 20px 0px;
}

.mark {
    color: orange;
    font-weight: bold;
}

h2 {
    color: #3e4953;
    font-size: 2em;
    margin-top: 50px;
}

ul, ol {
    margin: 25px 0px;
}

ul li {
    list-style-position: inside;
    margin: 15px 0px;
}

ol li {
    list-style-position: inside;
    margin: 25px 0px;
}

.alerta {
    max-width: 50px;
}

h3 {
    color: #3e4953;
    margin-top: 50px;
}

.imagem-conteudo {
    background: #F9F5F3 url() center center/ cover no-repeat fixed;
    height: 300px;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    box-shadow: inset 0px 3px 6px 0px #000000db;
}

.img-foco {
    background: #F9F5F3 url(imagens/foco.jpg) center center/ cover no-repeat fixed;
    min-height: 400px;
}

.img-motivacao-intrinseca {
    background: #F9F5F3 url(imagens/motivacao-intrinseca.jpeg) center center/ cover no-repeat fixed;
    min-height: 500px;
}

.img-ciclo-circadiano {
    background: #F9F5F3 url(imagens/ciclo-circadiano.jpg) center center/ contain no-repeat fixed;
    min-height: 400px;
}

.img-organizacao {
    background: #F9F5F3 url(imagens/organizacao.jpg) center center/ contain no-repeat fixed;
    min-height: 400px;
}

.texto-imagem {
    width: 100%;
    margin: 25px 0px;
    display: flex;
}

.texto-imagem>.texto-metade,
.img-metade {
    display: block;
}

.texto-metade {
    margin: auto;
}

.img-direita {
    border-radius: 0px 15px 15px 0px;
    box-shadow: -2px 4px 8px 0px #00000059;

    margin-left: 20px;
}

.img-esquerda {
    border-radius: 15px 0px 0px 15px;
    box-shadow: 2px 4px 8px 0px #00000059;
    margin-right: 20px;
}

.img-centralizada {
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 4px 8px 0px #00000059;
    display: block;
}

.img-total {
    width: 100%;
}

.perdao {
    margin: 25px auto;
    max-width: 900px;
}

mark {
    background-color: var(--cor-destaque);
}


.caps-nav {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);
    font-size: 0.9em;
    text-align: center;

    max-width: 350px;
    height: 50px;
    margin: auto;
    padding: 10px;
    border-radius: 100px;   

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.caps-nav a {
    
    color: var(--paletaCor5);
    width: 100px;
}

.select-paginas {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);
    text-align: center;
    min-width: 50px;
    margin: 0px 15px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
}

.caps-nav img {
    display: inline;
    max-width: 15px;
    margin: 0px 5px;
}


.pagina {
    display: none;
}