@charset "UTF-8";

/* CELULARES */
@media screen and (max-width:768px) {
    section h1 {
        font-size: 2em;
    }

    aside>span {
        display: block;
        border:none;
        padding: 0px;
        margin: 0px;
    }
    

    .imagem-conteudo {
        min-width: 100%;
        margin: 0px;
        border-radius: 0px;
    }

    .texto-imagem {
        display: block;
    }

    .texto-metade {
        max-width: none;
        width: 100%;
    }


    .img-metade {
        max-width: 100%;
        margin: 25px auto;
        box-shadow: 0px 3px 9px 2px #00000032;
        border-radius: 0px;
    }

    .img-centralizada {
        width: 100%;
    }
    
}

/* AJUSTE DA IMAGEM METADE */

@media screen and (min-width:768px) {
    .texto-imagem>.texto-metade, .img-metade {
        width: 50%;
    }
}

/* CELULARES GRANDES E TABLETS */
@media screen and (max-width: 964px) {
    body,html {
        font-size: 1em;
    }
    section {
        padding: 0px 15px;
    }
}

/* COMPUTADORES */
@media screen and (min-width: 1200px) {
   
}