body,html {
    background-color: var(--paletaCor1);
}

main {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);
}

h2 {
    color: var(--cor-textos-fundo-contraste);
}

.dicas-basicas {
    text-align: center;
    margin-bottom: 50px;
}

.dicas-basicas hr {
    max-width: 900px;
    margin: 15px auto  25px auto;
}

ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.dicas-principais {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dica-central  {
    width: 100%;
    display: flex;
    justify-content: center;
}

.dicas-principais a {
    color: var(--cor-textos-fundo-contraste);
}

.playlist {
    background-color: #0c4313;
    border-radius: 15px;
    margin: 25px auto;
}

.playlist:hover {
    margin-top: 20px;
    margin-bottom: 30px;
    transform: scale(103%);
    transition: 0.5s;
}

.playlist:active {
    transform: scale(100%);
}

.itens {
    font-size: 0.8em;

    padding: 15px;

    display: flex;
    align-items: center;
}

.itens img {
    height: 35px;
    width: 35px;
    display: inline-block;
}

li {
    list-style-type: none;
    text-align: left;
    max-width: 450px;
    margin: 0px 0px 0px 15px;
}

li strong {
    color: #5fc7ff;

    display: block;
}

li strong.spotify {
    color: greenyellow;
}

.demais-dicas {
    width: 100%;

    display: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


.barra {
    background-color: transparent;
    color: var(--cor-textos-fundo-contraste);
    box-shadow: 0px 1px 5px #ffffff41;
    text-align: center;

    width: 250px;
    margin: 25px auto 0px auto;
    padding: 5px;
    border: none;
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.barra:hover {
    cursor: pointer;
}

.barra:active {
    transform: scale(90%);
}
.barra img {
    max-width: 20px;
    margin-left: 10px;
}

.topo {
    text-align: center;
}

.topo hr {
    max-width: 350px;
    margin: 15px auto 50px auto;
}

.container {
    max-width: 1100px;
    padding: 0px 15px;
    margin: auto;
}

.borda {
    color: white;
    text-decoration: none;

    margin-bottom: 25px;
    padding: 5px;
    border-radius: 15px;
}

/* .borda {
    transform: scale(103%);
    transition: 0.3s;
} */


.capitulos {
    background-color: var(--paletaCor1);
    font-size: 0.9em;
    border-radius: 15px;
    border: 2px solid var(--paletaCor3);
    padding: 15px 20px;
    width: 50%;
}
/* .div-broxa-coloridinha-do-gay-daniel {
    background-color: var(--paletaCor3);
    width: 100%;
    border-radius: 15px;
}

.cap1 .capitulos {
    margin-top: px;
} */


.cap1 {
    background: aqua url(../imagens/meu-aprendizado/organizacao.jpg) top center/ cover no-repeat;
}


.cap2 {
    background: aqua url(../imagens/meu-aprendizado/desanimo.jpg) top center/ cover no-repeat;
}

.cap3 {
    background: aqua url(../imagens/meu-aprendizado/sono.jpg) top center/ cover no-repeat;
}

.cap4 {
    background: aqua url(../imagens/meu-aprendizado/revisao.jpg) top center/ cover no-repeat;
}

.container-capitulos-direita {
    display: flex;
    justify-content: right;
}

.container-capitulos-direita {
    text-align: right;
}

.superior-cap {
    display: flex;
    justify-content: space-between;
}

.superior-cap h3 {
    max-width: 500px;
}

.superior-cap:hover {
    cursor: pointer;
}

.inferior-cap {
    margin-top: 25px;
    display: block;
}

.inferior-cap {
    color: var(--paletaCor5);
}

.imagens-ilustrativas {
    width: 100%;
    margin: auto;
    display: none;
}

.arrow-down {
    width: 30px;
    min-width: 30px;
    margin: 0px 5px;
}

.container-start {
    display: flex;
    justify-content: right;
}

.start {
    background-color: #3299d05b;
    color: var(--paletaCor5);
    font-size: small;
    text-align: center;
    text-decoration: none;
    
    width: 100px;

    margin-top: 25px;
    padding: 10px;
    border: 1px solid var(--paletaCor3);
    border-radius: 1px solid var(--paletaCor3);
    border-radius: 70px;
    box-shadow: 0px 1px 5px #ffffff63;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.start img {
    max-height: 15px;
    margin: 0px 5px 0px 0px;
}

.start:hover {
    transition: 0.3s;
    transform: scale(105%);
    box-shadow: #ffffff63 0px 1px 9px;
    
}

.start:active {
    background-color: var(--paletaCor3);
    transform: scale(98%);
}

.seu-progresso {
    width: 100%;
}

.seu-progresso h4 {
    font-size: 0.8em;
    margin-top: 25px;
    text-align: center;
}

.seu-progresso .porcentagem {
    font-size: 0.7em;
    text-align: center;
    margin: 5px 0px;
}

.barra-progresso {
    background-color: #09520e8d;
    text-align: center;
    width: 100%;
    height: 5px;
    border-radius: 15px;
}

.progresso {
    background-color: greenyellow;
    height: 100%;
    width: 75%;
    border-radius: 15px;
}

.arrow2 {
    display: none;
    margin: auto;
}

.separacao {
    margin-top: 100px;
}