main {
    font-size: 0.9em;
}

.o-que-fazemos {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);

    width: 100%;

    display: flex;
}

.o-que-fazemos {
    background-color: var(--paletaCor1);
}

.o-que-fazemos h1 {
    font-size: 2.5em;
    margin-bottom: 15px;
}

.o-que-fazemos h1, h2 {
    color: var(--cor-textos-fundo-contraste);
}

.sobre-nos {
    width: 100%;
}

.sobre-nos hr {
    border: 1px solid var(--paletaCor3);
    max-width: 200px;
}

.texto {
    padding: 0px 25px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.p-o-que-fazemos {
    color: var(--paletaCor5);
    margin: 25px 0 50px 0;
}

.image {
    width: 60%;
    position: relative;
    overflow: hidden;
}

.image::before {
    content: '';
    position: absolute;
    left: -8em;
    top: 50%;
    transform: translateY(-50%) rotate(20deg);
    background-color: var(--paletaCor1);
    width: 40%;
    height: 140%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
}

.fundadores {
    padding: 50px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fundadores h2 {
    color: var(--cor-textos);
    font-size: 2.3em;
    text-align: center;

    width: 100%;
    margin-bottom: 25px;
    display: block;
}

.fundador {
    background-color: var(--paletaCor5);
    height: 100%;
    max-width: 350px;
    margin: 25px;
    padding: 10px 15px 15px 15px;
    border-radius: 15px;
    box-shadow: 0px 3px 9px #9ed4f18d;
}

.fundador img {
    background-color: var(--paletaCor1);
    width: 100px;
    height: 100px;
    border-radius: 70px;
    margin: -30px 10px;
    display: inline;
}

.fundador p {
    margin-top: 25px;
    text-align: center;
}

.cargos {
    display: flex;
}

.nossa-historia {
    background-color: var(--paletaCor5);
    padding: 15px;
}

.nossa-historia > .limite {
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.nossa-historia h2 {
    color: var(--cor-textos);
    width: 100%;
    margin-bottom: 25px;
    font-size: 2.1em;
}

.textos-metade {
    max-width: 600px;
}


.textos-metade p {
    margin: 15px 0px;
}

.p-destaque {
    width: 100%;
    font-size: 1.1em;
}

.nossa-historia hr {
    margin: 25px 0px;
    border: 1px solid var(--paletaCor3);
    max-width: 200px;
}


.imagem-metade {
    max-width: 500px;
}

.texto-destaque {
    font-weight: bolder;
}

.nossa-missao-valores h2 {
    font-size: 2.3em;
    text-align: center;
    color: var(--cor-textos);
    margin: 50px 0px;
}

.container-pilares {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pilares {
    background-color: var(--paletaCor1);
    color: var(--cor-textos-fundo-contraste);
    text-align: center;
    max-width: 250px;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid var(--paletaCor1);
    border-radius: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
}

.pilares hr {
    margin: 25px auto;
    width: 60px;
}

.pilares h3 {
    margin-bottom: 15px;
}

.pilares P {
    color: var(--paletaCor5);
}

.icons-pilares {
    max-width: 200px;
    max-height: 200px;
}

.texto-pilares {
    text-align: center;
    min-height: 400px;
}

.inicie-sua-jornada {
    background: var(--paletaCor6) url(../imagens/quem-somos/seu-aprendizado.jpeg) 100%/ cover fixed;
    color: var(--paletaCor5);
    text-align: center;
    margin: 100px 0px;
    padding: 75px 15px;
}

.inicie-sua-jornada h2 {
    color: var(--cor-textos-fundo-contraste);
    text-align: center;
}

.inicie-sua-jornada .limite {
    max-width: 900px;
}

.inicie-sua-jornada p {
    text-align: center;
    margin: 25px 0px;
}